html{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(213, 225, 239);  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 15px;
  
}
.card img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.card h1{
    color: rgb(22, 36, 61);
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}
.card p{
    font-size: 15px;
    color: rgb(148, 148, 155);
}
.author{
    position: absolute;
    left: 5px;
    bottom: 5px;
}
@media screen and (max-width: 375px) {
    
  }